<div ng-controller="ProjectCreateController as ctrl" class="container">
  <h1>Új munka</h1>
  <form name="projectForm">
    <div class="form-group">
      <label for="projectName">Név</label>
      <input type="text" class="form-control" id="projectName" placeholder="Név" ng-model="ctrl.newProject.name">
    </div>
    <div class="form-group">
      <label for="projectRetention">Visszatartás</label>
      <input type="number" class="form-control" id="projectRetention" placeholder="Visszatartás" ng-model="ctrl.newProject.wage">
    </div>
    <div class="form-group">
      <label for="projectNote">Megjegyzés</label>
      <input type="text" class="form-control" id="projectNote" placeholder="Megjegyzés" ng-model="ctrl.newProject.note">
    </div>
    <button type="button" class="btn btn-success" ng-click="ctrl.createProject()">Mentés</button>
  </form>
</div>