<div ng-controller="OpenItemsController as ctrl" class="container-fluid">
  <h1>Nyitott tételek</h1>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Filter" ng-model="search.$">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="pull-right">
        <button class="btn btn-success" role="button" ng-click="ctrl.newBalance()">Új hozzáadása</button>
      </div>
    </div>
  </div>
  <hr>
  <table class="table table-hover">
    <thead>
    <tr>
      <th ng-repeat="header in ctrl.tableConfig.headers">
        <a ng-if="header.prop !== null" ng-click="ctrl.tableConfig.sorting.type = header.prop; ctrl.tableConfig.sorting.reverse = !ctrl.tableConfig.sorting.reverse">
          {{header.name}}
          <span ng-if="ctrl.tableConfig.sorting.type === header.prop && !ctrl.tableConfig.sorting.reverse" class="glyphicon glyphicon-chevron-down"></span>
          <span ng-if="ctrl.tableConfig.sorting.type === header.prop && ctrl.tableConfig.sorting.reverse" class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <span ng-if="header.prop === null">{{header.name}}</span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class="{'income-row': balance.status.isIncome}" ng-repeat="balance in ctrl.tableConfig.data | orderBy:ctrl.tableConfig.sorting.type:ctrl.tableConfig.sorting.reverse | filter:search">
      <td>{{balance.id}}</td>
      <td>{{balance.net}}</td>
      <td>{{balance.gross}}</td>
      <td>{{balance.vat}}</td>
      <td>{{balance.vatValue}}</td>
      <td>{{balance.created}}</td>
      <td>{{balance.completed}}</td>
      <td>{{balance.status.name}}</td>
      <td ng-if="balance.balanceType === 'user'">{{balance.user.name}}</td>
      <td ng-if="balance.balanceType === 'project'">{{balance.project.name}}</td>
      <td ng-if="balance.balanceType === 'other'">Egyéb</td>
      <td>{{balance.cash}}</td>
      <td>{{balance.note}}</td>
      <td>
        <button type="button" class="btn btn-info btn-sm" ng-click="ctrl.doPayment()">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-warning btn-sm" ng-click="ctrl.editBalance()">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.deleteBalance(project.id)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
