<div ng-controller="UserCreateController as ctrl" class="container">
  <h1>Új alkalmazott</h1>
  <form name="userForm">
    <div class="form-group">
      <label for="userName">Név</label>
      <input type="text" class="form-control" id="userName" placeholder="Név" ng-model="ctrl.newUser.name">
    </div>
    <div class="form-group">
      <label for="userWage">Órabér</label>
      <input type="number" class="form-control" id="userWage" placeholder="Órabér" ng-model="ctrl.newUser.wage">
    </div>
    <div class="form-group">
      <label for="userNote">Megjegyzés</label>
      <input type="text" class="form-control" id="userNote" placeholder="Megjegyzés" ng-model="ctrl.newUser.note">
    </div>
    <button type="button" class="btn btn-success" ng-click="ctrl.createUser()">Mentés</button>
  </form>
</div>