<div ng-controller="StatusListController as ctrl" class="container">
  <h1>Státuszok</h1>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Filter" ng-model="ctrl.searchField">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="pull-right">
        <a href="/timeReport/create" class="btn btn-success" role="button">Új státusz</a>
      </div>
    </div>
  </div>
  <hr>
  <table class="table table-hover">
    <thead>
    <tr>
      <td ng-repeat="header in ctrl.tableConfig.headers">{{header}}</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="timeReport in ctrl.tableConfig.data | filter: {name: ctrl.searchField}">
      <td>{{timeReport.id}}</td>
      <td>{{timeReport.name}}</td>
      <td>
        <a href="/timeReport/edit/{{timeReport.id}}" class="btn btn-warning btn-sm" role="button">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
        <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.deleteStatus(timeReport.id)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
